body {
    font-family: 'Open Sans', sans-serif;
}

.chat-bubble-container {
    padding: 18px;
    border-radius: 50%;
    margin: 12px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.6);
    width: 70px;
    height: 70px;
    box-sizing: border-box;
    cursor: pointer;
    position: fixed;
    bottom: -500px;
    right: 0;
    transition: bottom 2s linear;
}

.chat-bubble-container.active {
    bottom: 0;
    transition: bottom 0.6s linear;
}

.section {
    position: relative;
}

.avatar {
    display: inline-block;
    background: white;
    padding: 2px;
    overflow: hidden;
    border-radius: 50%;
    vertical-align: middle;
}

.avatar img {
    width: 40px;
}

.chat-window-container {
    box-shadow: 0 5px 40px rgba(0, 0, 0, .16)!important;
    border-radius: 8px;
    overflow: hidden;
    max-width: 350px;
    min-width: 320px;
    right: -500px;
    bottom: 15px;
    position: fixed;
    transition: right 0.5s ease-out;
}

.chat-window-container.active {
    display: block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 9999;
}

.chat-window-container header {
    padding: 10px;
}

.actions {
    float: right;
    margin-top: 8px;
}

.actions .close {
    background: no-repeat url(//ssl.gstatic.com/chat/babble/sprites/common-517bca7f07a37c64c3263a1411e266a5.png) -159px -92px;
    height: 24px;
    width: 24px;
    cursor: pointer;
    display: inline-block;
}

.resize {
    width: 19px;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

.full {
    width: 85vw !important;
    max-width: unset !important;
    height: 90vh;
    left: 9vw;
    right: 10vw;
}

.chat-window-container.full section {
    min-height: calc(80vh - 85px);
}

.u-name {
    display: inline-block;
    color: white;
    font-size: 20px;
    margin-left: 10px;
}

.msg {
    margin-bottom: 10px;
}

.msg-out,
.msg-in {
    border-radius: 7.5px;
    border-top-left-radius: 7.5px;
    border-top-right-radius: 0px;
    background-color: #dcf8c6;
    float: right;
    position: relative;
    box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
}

.msg-in {
    background-color: #fff;
    border-top-right-radius: 7.5px;
    border-top-left-radius: 0px;
    float: left;
}

.msg::after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.tail-container {
    content: '';
    position: absolute;
    right: -12px;
    top: 0px;
    width: 12px;
    height: 19px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

.msg-in .tail-container {
    left: -12px;
}

.bubble {
    padding-top: 10px;
    padding-left: 9px;
    padding-right: 7px;
    padding-bottom: 23px;
    min-width: 110px;
    box-sizing: border-box;
}

.msg-text {
    cursor: text;
    white-space: pre-wrap;
    position: relative;
    font-size: 13.6px;
    line-height: 19px;
    word-wrap: break-word;
    color: #262626;
}

.msg-metadata {
    position: absolute;
    bottom: 4px;
    right: 5px;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.45);
    line-height: 15px;
    height: 15px;
    white-space: nowrap;
}

.chat-window-container section {
    padding: 15px;
    background: rgb(244, 244, 244);
    max-height: 350px;
    min-height: 350px;
    overflow-y: auto;
}

#chatwindow section::-webkit-scrollbar-track {
    border-radius: 0px;
    background: rgba(245, 245, 245, 0.38);
}

#chatwindow section::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(245, 245, 245, 0.38);
}

#chatwindow section::-webkit-scrollbar-thumb {
    background-color: #9e9e9e;
}

.chat-window-container footer {
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 5px;
    padding-left: 10px;
    background: white;
}

.chat-window-container footer img {
    width: 40px;
    height: 25px;
    vertical-align: middle;
    cursor: pointer;
}

.message-type {
    outline: none;
    border: none;
    padding: 15px;
    width: calc(100% - 40px);
    display: inline-block;
}

.clear {
    clear: both;
}

.chat-welcome-container {
    right: 10px;
    position: fixed;
    bottom: -500px;
    transition: bottom 0.5s linear;
}

.chat-welcome-container.active {
    bottom: 95px;
}

.chat-welcome-container section {
    position: relative;
    box-shadow: 0 2px 8px 0 rgba(35, 47, 53, .09);
    border-radius: 5px;
    max-width: 320px;
    min-width: 100px;
}

.chat-welcome-container section:hover .wlc-close {
    display: block;
}

.chat-welcome-container1 section::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 99%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 13px 5px;
    border-color: transparent transparent #fff;
}

.chat-welcome-container section input {
    width: 100%;
    padding: 15px;
    position: relative;
    padding-right: 38px;
    border: none;
    border-top: 2px solid;
    border-color: #d6d6d6;

}

.wlcMsg {
    font-size: 16px;
    padding: 12px;
    line-height: 1.5;
    border-radius: 5px;
}

.wlcMsg::after {
    border-right: solid 10px transparent;
    border-left: solid 10px transparent;
    border-top: solid 10px #e15915;
    transform: translateX(-50%);
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    right: 15px;
    height: 0;
    width: 0;
}

.reply {
    position: relative;
}

.send {
    background: url('https://ssl.gstatic.com/chat/babble/sprites/common-517bca7f07a37c64c3263a1411e266a5.png') no-repeat -1070px -121px;
    width: 60px;
    height: 60px;
    transform: scale(0.5);
    position: absolute;
    top: -5px;
    right: -10px;
    position: absolute;
    cursor: pointer;
}

.wlc-close {
    background: url('https://ssl.gstatic.com/chat/babble/sprites/common-517bca7f07a37c64c3263a1411e266a5.png') no-repeat -65px -120px;
	width: 17px;
    height: 17px;
    position: absolute;
    top: -19px;
    right: -3px;
    display: block;
    cursor: pointer;
}

@media (max-width:400px) {
    .chat-window-container.active {
        max-width: unset;
        min-width: unset;
        width: calc(100% - 30px);
    }
    .chat-window-container section {
        max-height: calc(100vh - 180px);
    }
}

@media (min-width: 600px) {
    .chat-window-container.active {
        max-width: 350px;
        width: auto;
    }
    .chat-window-container section {
        max-height: 350px;
    }
}


/* Theme styles */
.chat-bg.offline,
.chat-window-container header {
    background-color: #616161;
}

.chat-bg.offline .section {
    color: #D5D5D5;
}

.chat-bg.online, .wlcMsg,
.chat-window-container header,
.msg-out {
    background-color: #1097ce;
}

.wlcMsg::after {
    border-top-color: #1097ce;
}

.chat-bg.online .section, .wlcMsg,
.msg-out .msg-text,
.msg-out .msg-metadata {
    color: white;
}

.chat-interfaceIconFillColor {
    fill: currentColor;
}

.message-count {
    display: none;
    position: absolute;
    top: 4px;
    padding-top: 2px;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 15px;
    vertical-align: middle;
    color: white;
    font-weight: bold;
    left: 7px;
}