.child {
    border-left: 1px solid;
}

.parent > .child {
    margin-left: 20px;
}

.sibiling {
    margin: 7px 0px;
}

.sibiling span.intendent {
    display: inline-block;
    width: 15px;
    background: black;
    height: 1px;
    vertical-align: middle;
    margin-right: 5px;
}